apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: "15s"
      queryTimeout: "60s"
      httpHeaderName1: "X-Custom-Header"
    secureJsonData:
      httpHeaderValue1: "custom-value"
